<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT</key>
	<string>sec_86be30771c1af32a57df</string>
	<key>GB</key>
	<string>sec_8ef31932ec22f34bc943</string>
	<key>AU</key>
	<string>sec_68c0cf8ad5cc3059befe</string>
	<key>EMEA</key>
	<string>sec_a367fe786e0811230d5a</string>
	<key>JP</key>
	<string>sec_e11ef85cb83bc2b24d31</string>
</dict>
</plist>
